root, header, nav {
    display: block;
}


header {
	float:left;
	position:absolute;
	margin: 0;
	max-width: 100%;
	width: 100%;
	background: #225555;
	z-index: 10000;
	top:0;
	height: 41px;
}

.postcodes-form, .front-about{
	float: left;
}

body {
	background-color: #d2e5bf;
	font-family: sans-serif;
	margin: 0;
	height: 100%;
}
header a {
	text-decoration: none;
}
nav > a {
	padding-top: 10px;
	font-size: larger;
	font-weight: bold;
	float: left;
	min-width: 64px;
	max-width: 120px;
	width: 120px;
	text-align: center;
	color: white;
	height: 31px;
	/* box-shadow: inset 2px 2px 2px 1px #B29FC5, 2px 2px 2px 0px #e2cff5, 0 0 2px 0 #e2cff5; */
}

nav > a.selected {
	background-color: rgba(255, 255, 255, 0.2);
}
nav > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

h1 {
	text-align: center;
	color: white;
	text-decoration: none;
	float: left;
	margin: 0;
	margin: 0 30px;
}

.error {
	background-color: #FAA;
	border: 2px red dashed;
	
}
div.error {
	padding: 1em;
	font-size: larger;
}

.main {
	clear: both;
	margin: 40px auto auto 0;
	margin-top: 40px;
	width: 100%;
	height: 100%;
	display: block;
	
}

div.text-page {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

html, body {
	height:100%;
}

#map {
    height: 100%;
    margin: 0px;
    padding: 0px;
	z-index: 0;
	width: 100%;
	float: right;
	margin-left: 200px;
}

#directions {
	position: absolute;
	right: 10px;
	top: 35px;
	width: 200px;
	height: 200px;
	background-color: rgba(200, 200, 255, 0.9);
	border: medium black solid;
	z-index: 100000000000;
	
	
}

div.cache-box {
	position: absolute;
	bottom:0px;
	width: 100%;
	z-index:10000;
}

div.progress-bar {
	background-image: url(/static/img/stripes.png);
	background-repeat: repeat-x;
	height: 30px;
	width: 0;
	color: white;
	font-size: 22px;
	line-height: 30px;
	text-shadow: #363 2px 2px 0px;
	border-bottom: medium white solid;
	border-bottom: medium rgba(255, 255, 255, 0.4) solid;
}
div.progress-bar > span {
	padding-left: 5em;
}

div.progress-bar a {
	color: #CCF;
}

.olControlAttribution { bottom: 0px!important }

/* avoid pink tiles */
.olImageLoadError {
    background-color: transparent !important;
}

#controls {
	position: absolute;
	width: 200px;
	height: 90%;
	top: 5%;
	right: 5%;
	z-index: 1000;
	background-color:white;
}

.highlight
{
	background-color: blue;
	color: white;
}
iframe
{
	width: 90%;
	height: 75%;
}



